.ms-signinpanel form{background: rgba(255, 255, 255, .95);color: #333;padding: 40px 30px;}
.ms-signinpanel form .login-text{font-size: 20px;}
.signinpanel .uname,.signinpanel .pword{height: 40px;border-radius: 5px;margin-top: 25px;}

.signinpanel .btn-success{    border-color: #01b3c2;
    background-color: #00c6d7;margin-top: 35px;height: 40px;font-size: 20px;}
.signinpanel .btn-success:hover{opacity: .9;}
.login-box {
    max-width: 400px;
    margin: 32rem auto;
}
.signin-banner {
    width: 100%;
}
.signin-banner img {
    width: 100%;
    /*margin: 5rem auto;*/
}
.signin-info {
    width: 100%;
    text-align: center;
    margin: 10rem auto;
}
.wel {
    font-size: 110px;
    font-weight: bold;
}
.welcome {
    font-size: 24px;
    margin-left: 15rem;
}
.m-b {
    margin-left: 15rem;
}
.ms-signinpanel form .login-text {
    font-weight: bold;
}